<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint libero deleniti excepturi numquam, fugiat amet, veniam enim nihil doloribus, deserunt earum quia reiciendis! Reprehenderit, recusandae repellendus incidunt animi et nisi.
</p>

<%-include('partials/footer.ejs')%>
</body>

</html>