<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>

    <section>
        <form action="/tabla" method="post">
            <label for="">Tabla</label>
            <input type="number" id="numero" name="numero" value=<%=numero%> require>

            <button type="submit">Enviar información</button>
            <button type="reset">Limpiar</button>
            <center>
            <%
                let res = 0;

                if(numero != null){
                    for(con=1; con <=10; ++con){
                        res = numero * con;
            %>
                <h3><%=numero%> * <%=con%> = <%=res%></h3>

                <%
                    }
                }
            
            %>
            </center>
        </form>
    </section>

    <%-include('partials/footer.ejs')%>
</body>

</html>